.navigaton {
}

.contacs {
}
.order_section {
}

.order_section_button {
}

.section_tittle {
}

.section_work {
}

.work_title {
}

.work_description {
}

.teammember_photo {
}

.teammember_name {
}

.teammember_position {
}

.adress_name {
}

.footer_link {
}
